@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$black: #000;
$white: #fff;

// ======================variabels
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// ======================null
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.section {
  position: relative;
  overflow: hidden;
  width: 100%;

  padding: 4rem;
}

.section__in {
  margin: 0 auto;
  max-width: 110rem;
  width: 100%;
}

