@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$black: #000;
$white: #fff;

// ======================variabels
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// ======================null
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.section {
  position: relative;
  overflow: hidden;
  width: 100%;

  padding: 4rem;
}

.section__in {
  margin: 0 auto;
  max-width: 110rem;
  width: 100%;
}

.active {
  font-weight: 700;
  color: tomato;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.controls {
  position: static;
}

.controls__btn {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;

  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;

  &--down {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &--up {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.spoiler {
  margin: 5rem 0;
  border: 2px solid aqua;

}

.spoiler__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  background: aqua;
  cursor: pointer;
}

.spoiler__content {
  padding: 2rem;
  opacity: 0;
  //transform: translateY(-100%);
  transition: opacity .3s ease;

  &.spoiler__content--active {
    //transform: unset;
    opacity: 1;

  }
}

//===accordion========
.accordion {
  padding: 1rem;
  border-radius: 1rem;
  background: $black;
}

.accordion__item {
  position: relative;
  padding: 1rem;
  //min-width: 40rem;
  border-radius: .6rem;
  background: tomato;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

%plus {
  position: absolute;
  right: 0;
  top: 50%;

  display: block;
  width: 2rem;
  height: 2px;
  background: #000;
  content: '';
}

.accordion__title {
  padding-right: 3rem;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;

  &:after {
    @extend %plus;
  }

  &:before {
    @extend %plus;
    transform: rotate(90deg);
    transition: transform .3s ease;
  }

  &.accordion__title--active:before {
    transform: rotate(0deg);
  }
}

.accordion__content_in {
  padding: 1rem 0;
  background: #925B4E;
  border-radius: .4rem;
}

